body {
  text-align: center;
}

.container {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.vari {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: Tahoma, sans-serif;
  list-style-type:none;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.refresh {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.sininen {
text-shadow: 2px 2px 2px #009ee0
}

.oranssi {
text-shadow: 2px 2px 2px #ffae00;
}

.violetti {
text-shadow: 2px 2px 2px #b244ff;
}

.ruskea {
text-shadow: 2px 2px 2px #704c00;
}

.nappula {
  position: absolute;
  max-width: 100%;
  margin: auto;
  z-index: 1;
}

.pelilauta {
  position: relative;
  max-width: 100%;
  margin: auto;
}

@media (max-width: 8200px) and orientation: landscape) {
                     body {
                     margin: auto 60%;
}
