body {
  text-align: center;
}

.container {
  position: relative;
  margin: auto;
  height: 100vh;
}

.vari {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: Tahoma, sans-serif;
  list-style-type:none;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.refresh {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.sininen {
text-shadow: 2px 2px 2px #009ee0
}

.oranssi {
text-shadow: 2px 2px 2px #ffae00;
}

.violetti {
text-shadow: 2px 2px 2px #b244ff;
}

.ruskea {
text-shadow: 2px 2px 2px #704c00;
}

.nappula {
  position: absolute;
  height: 100vh;;
  margin: auto;
  z-index: 1;
}

.pelilauta {
  position: relative;
  height: 100vh;;
  margin: auto;
}

@media (max-width: 1200px) {
  .refresh {
    font-size: 2.5rem;
  }
}

@media (orientation: portrait) {
  .container {
    height: auto;
    max-width: 100%;
}
    .nappula {
      height: auto;
      max-width: 100%;
    }

    .pelilauta {
      height: auto;
      max-width: 100%;
    }
}
