body {
  text-align: center;
  background-image: url("bg-landscape.png");
  background-size: 100% auto;
}

.container {
  position: relative;
  margin: auto;
  height: 100vh;
  bottom: 50px;
}

.vari {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: Tahoma, sans-serif;
  list-style-type:none;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden;
}

.button {
  background-color: #107200;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 0 3px black;
}

.button:hover {
  background-color: #148d00;
}

.refresh {
  font-size: 0.75em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 2px 2px black;
}

.refresh:hover {
  text-shadow: 0 0 1px white;
}

.sininen {
text-shadow: 2px 2px 2px #009ee0;
}

.oranssi {
text-shadow: 2px 2px 2px #ffae00;
}

.violetti {
text-shadow: 2px 2px 2px #b244ff;
}

.ruskea {
text-shadow: 2px 2px 2px #704c00;
}

.nappula {
  position: absolute;
  height: 90vh;
  margin: auto;
  z-index: 1;
  top: 50px;
}

.pelilauta {
  position: relative;
  height: 90vh;
  margin: auto;
  top: 50px;
  bottom: 50px;
}

@media (max-width: 1200px) {
  .refresh {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) {
  body {
    background-image: url("bg-portrait.png");
    background-size: auto 100vh;
  }
  .container {
    height: auto;
    max-width: 100%;
}
    .nappula {
      height: auto;
      max-width: 100%;
    }

    .pelilauta {
      height: auto;
      max-width: 100%;
    }

    .vari {
      top: 55%;
    }
}
